<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MallConcierge.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2FB176AE77A4A0FDB194347B61657A5AEE42AF9B</string>
				<key>dateExpires</key>
				<string>20/11/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2FB176AE77A4A0FDB194347B61657A5AEE42AF9B</string>
						<key>dateExpires</key>
						<string>20/11/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SQLite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>24D2H6ZJB8</string>
						<key>name</key>
						<string>Compania Integradora Inmobiliaria, S.C.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>24D2H6ZJB8.mx.mallconcierge.gsm</string>
				<key>com.apple.developer.team-identifier</key>
				<string>24D2H6ZJB8</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>24D2H6ZJB8.mx.mallconcierge.gsm</string>
				</array>
			</dict>
			<key>name</key>
			<string>MallConcierge.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>81fc5a2a-0e08-4733-9616-4e37fb8b58d7</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: mx.mallconcierge.gsm</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>24D2H6ZJB8</string>
				<key>name</key>
				<string>Compania Integradora Inmobiliaria, S.C.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
